<!DOCTYPE html>
<html>
  <head>
    <title>bod</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Body Journal</h1>
    <p>Sign In</p>
    <form>
  		Username:<br>
  		<input type="text" name="username"><br>
  		Password:<br>
  		<input type="text" name="passwordr">
	</form>
  <h1><%= message %></h1>
  </body>
</html>
